{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!-- Header element -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <!-- 50% width form to edit products in the DB -->
        <div class="row">
            <div class="col-12 col-md-6">
                <!--
                    Encoding type (enctype) attribute needed as potentially be submitting an image file, and without it 
                    the image won't be uploaded properly. 'edit_product' is in products_app > views.py
                -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- remove the label for the image in product edit page -->
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    
                    <!-- Submit and Cancel buttons -->
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

<!-- Js to indicate what the image will be changed to -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // listen to the change event on the new image input, then 
        // set the filename paragraph in the widget template to the files name
        // with a template literal :
        $('#new-image').change(function() {
            let file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}