{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- <h1 class="display-4 text-success">Product Page works!</h1> -->
<div class="overlay"></div>
<div class="container-fluid">
    <!-- product heading  -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <!-- product container -->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                    <!-- colum divisions / layout -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            <!-- Card top with image -->
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}

                            <!-- Card Body indicates the product name -->
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>

                            <!-- Card Footer indicates the price and rating -->
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>

                                        <!-- 
                                            If the product has a category, we want to render it out using its friendly name as text
                                            and programmatic name as the href 
                                        -->
                                        {% if product.category %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                <i class="fas fa-tag mr-1">{{ product.category.friendly_name }}</i>
                                            </a>
                                        </p>
                                        {% endif %}

                                        {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                            5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- creating a horizontal divider that is adaptive to screen size with margin bottom 5px-->
                    <!-- will prevent this column from rendering on everything except extra small screens -->
                    {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                    {% endif %}

                    <!-- 
                        display: none by default. Hidden on extra small screens and display block on small screens and larger.
                        Will render on screens where there are more than two products in a row. Render only when the iteration 
                        number of the loop is divisible by two.
                    -->
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                    {% endif %}

                    <!-- for lg screen sizes display as a block, display none otherwise -->
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                    {% endif %}

                    <!-- for xl screen sizes display as a block, display none otherwise -->
                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}